<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Client Directory</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1 th:text="${client.clientName}"></h1>
    <table>
        <thead>
        <tr>
<!--            <th>Company Name</th>-->
            <th>Website</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${client.websiteUri}">Website</td>
                <td th:text="${formatter.formatPhoneNumber(client.phoneNumber)}">Phone Number</td>
                <td th:text="${formatter.formatAddress(client.streetAddress, client.city, client.state, client.zipCode)}">Address</td>
                <td>
                    <a th:href="'/client/edit/' + ${client.clientId}">Edit Client</a>
                    <a th:href="'/client/delete/' + ${client.clientId}">Delete Client</a>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Contacts</th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="contact : ${contacts}">
                <tr>
                    <td th:text="${contact.firstName}">First</td>
                    <td th:text="${contact.lastName}">Last</td>
                    <td th:text="${contact.emailAddress}">first.last@email.com</td>
                </tr>
            </th:block>
        </tbody>
    </table>
<th:block th:if="${#lists.isEmpty(client)}">
    <p>No results found.</p>
</th:block>
</body>
</html>
